  Magst du Risiko?
  <form>
    <fieldset>
      <input type="radio" id="low" name="risklevel" value="low">
      <label for="low">Nein, Risiko macht mir Angst.</label><br>
      <input type="radio" id="medium" name="risklevel" value="medium">
      <label for="medium">Geht so, aber nicht zuviel davon.</label><br>
      <input type="radio" id="high" name="risklevel" value="high">
      <label for="high">Etwas Risiko hat noch nie geschadet.</label><br>
      <input type="radio" id="highest" name="risklevel" value="highest">
      <label for="highest">Risiko? Was ist Risiko?</label><br>
    </fieldset>
    <button routerLink="/recommendation">Weiter</button>
  </form>
