  Magst du Risiko? --> WERT = {{ input }}
  <form>
    <fieldset>
      <input type="radio" id="low" name="risklevel" value="1" [(ngModel)]="input.risk">
      <label for="low">Nein, Risiko macht mir Angst.</label><br>
      <input type="radio" id="medium" name="risklevel" value="2" [(ngModel)]="input.risk" >
      <label for="medium">Geht so, aber nicht zuviel davon.</label><br>
      <input type="radio" id="high" name="risklevel" value="3" [(ngModel)]="input.risk">
      <label for="high">Etwas Risiko hat noch nie geschadet.</label><br>
      <input type="radio" id="highest" name="risklevel" value="4" [(ngModel)]="input.risk">
      <label for="highest">Risiko? Was ist Risiko?</label><br>
    </fieldset>
    <button routerLink="/amount">Zurück</button>
    <button routerLink="/recommendation">Weiter</button>
  </form>
